//media query manager

/*
0 - 600px: phone
600px - 900px: tablet portrait
900px - 1200px: tablet landscape
1200px - 1800px: normal styles
1800px+: big desktop

$breakpoint values:
- phone
- tab-port
- tab-land
- desktop 

Order: base + typography -> general layout + grid > page layout > components
*/

//using ems here instead of rems here, 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 43.75em) { @content }; //700px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; //1200px
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 93.75em) { @content }; //1500px
  }
}