//abstracts
@import 'abstracts/mixins';
@import 'abstracts/variables';

//base
@import 'base/base';
@import 'base/normalize';
@import 'base/typography';
@import 'base/utilities';

//components
@import 'components/feature-card';
@import 'components/icon-card';
@import 'components/page-banner';
@import 'components/popup-form';
@import 'components/popup-services';
@import 'components/pricing-card';
@import 'components/project';
@import 'components/service-card';
//layout
@import 'layout/header';
@import 'layout/footer';

//pages
@import 'pages/about';
@import 'pages/home';
@import 'pages/portfolio';  
@import 'pages/pricing';  