.site-header {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2.4rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 999;
  position: relative;

  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}

.site-branding {
  width: 15rem;
  margin-top: 1.5rem;
}

.custom-logo {
  width: 100%;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;

  @include respond(phone) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: rgba($main, .95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 999;
    transition: right 0.3s ease;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @include respond(phone) {
      flex-direction: column;
      width: 100%;
    }
  }

  ul li {
    margin-left: 5rem;

    @include respond(tab-port) {
      margin-left: 3rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 2.5rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: #ffffff;
      transition: all .2s;

      &:hover {
        color: $sec;
        transform: translateY(-.1rem) scale(1.02);
      }

      @include respond(phone) {
        width: 100%;
        padding: 1rem 2rem;
        display: block;
        text-align: right;
        font-size: 4rem;
        text-transform: capitalize;
      }
    }

    @include respond(phone) {
      margin: 1rem 0;
      width: 100%;
    }
  }
}

.current-menu-item a {
  color: $sec;
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle-label {
  display: none;
  cursor: pointer;
  width: 5rem;
  height: 4rem;
  position: relative;
  z-index: 1000;

  span {
    display: block;
    width: 100%;
    height: .5rem;
    background-color: #f3e1dd;
    border-radius: 100px;
    position: absolute;
    transition: all 0.3s ease;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 1.5rem;
  }

  span:nth-child(3) {
    top: 3rem;
  }

  @include respond(phone) {
    display: block;
  }
}

.menu-toggle-checkbox:checked + .menu-toggle-label span:nth-child(1) {
  transform: rotate(45deg);
  top: 1.5rem;
}

.menu-toggle-checkbox:checked + .menu-toggle-label span:nth-child(2) {
  opacity: 0;
}

.menu-toggle-checkbox:checked + .menu-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 1.5rem;
}

.menu-toggle-checkbox:checked ~ .main-navigation {
  right: 0;
  display: flex;
}