.popup {
	width: 100%;
	height: 100vh;
	background-color: rgba($black, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	@supports (-webkit-backdrop-filter: blur(10px)) or
		(backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba($black, 0.3);
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: $white;
		width: 95%;
		max-height: 90%;
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;
		box-shadow: 0 2rem 4rem rgba($black, 0.2);
		border-radius: 3.9rem;
		display: flex;
		align-items: center;
		gap: 5rem;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.5);
		transition: all 0.4s 0.2s;
		padding: 4rem 8rem;

		/* Hide scrollbar for Webkit-based browsers */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge, and Firefox */
		-ms-overflow-style: none; // IE and Edge
		scrollbar-width: none; // Firefox

		@include respond(tab-land) {
			width: 95%;
			display: block;
		}

		@include respond(phone) {
			padding: 2rem 4rem;
			align-items: center;
		}
	}

	&__left {
		height: 100%;
		width: 50%;
		align-self: center;

		@include respond(tab-land) {
			display: block;
			width: 100%;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		width: 70%;
		text-align: left;

		@include respond(tab-land) {
			display: block;
			width: 100%;
		}

		@include respond(phone) {
			padding: 3rem 0;
		}
	}

	&__thumbnail {
		display: block;
		width: 50rem;
		height: 50rem;
		object-fit: cover;
		border-radius: 3.9rem;

		@include respond(tab-land) {
			width: 100%;
			height: auto;
			max-height: 30rem;
		}

		@include respond(phone) {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		font-size: 1.7rem;
	}

	&__link {
		align-self: center;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.visible &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&:link,
		&:visited {
			display: inline-block;
			color: grey;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			text-decoration: none;
			font-size: 3rem;
			line-height: 1;
		}

		&:hover {
		}
	}
}
