body {
  font-family: "Lato", sans-serif;
}

.heading-primary {
  color: $white;
  font-size: 7.2rem;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0 1rem 1rem rgba($black, .2); 
  display: block;
  text-align: center;
  animation: fadeIn 1s;
  width: 90%;
  margin: 0 auto;

  @include respond(desktop) {
    font-size: 6.7rem;
  }

  @include respond(tab-land) {
    font-size: 6.2rem;
  }

  @include respond(tab-port) {
    font-size: 5.7rem;
  }

  @include respond(tab-port) {
    font-size: 5.2rem;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.heading-secondary {
  color: $main;
  font-size: 6.4rem;
  font-weight: 700;
  text-shadow: 0 1rem 1rem rgba($black, .3);

  @include respond(tab-land) {
    text-align: center;
    font-size: 5.4rem;
  }

  @include respond(tab-port) {
    font-size: 4.4rem;
  }

  @include respond(phone) {
    font-size: 4.3rem;
    margin-bottom: 2rem;
    width: 100%;
  }

}

.heading-tertiary {
  color: $sec;
  font-size: 3rem;

  @include respond(tab-land) {
    text-align: center;
  }
}