.section-intro-about {
  position: relative;
  margin: 14vh auto 0 auto;
  width: 85%;

  @include respond(phone) {
    width: 100%;
  }

  &__img-box {
    width: 50rem;
    height: 70rem;
    position: relative;

    @media only screen and (max-width: 81.25em) {
      width: 40rem;
      height: 60rem;
    }

    @media only screen and (max-width: 68.75em) {
      width: 30rem;
      height: 50rem;
    }

    @media only screen and (max-width: 62.5em) {
      width: 25rem;
      height: 45rem;
    }

    @include respond(phone) {
      width: 25rem;
      height: 45rem;
      display: none;
    }

    &::after {
    content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3); // Adjust the opacity as needed
      border-radius: 3.9rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 3.9rem;
  }

  &__paragraph {
    background-color: $main;
    color: $white;
    font-size: 3rem;
    padding: 5rem 5rem;
    border-radius: 3.9rem;
    width: 75%;
    position: absolute;
    top: 38%;
    right: 0%;

    @media only screen and (max-width: 90.625em) {
      font-size: 2.75rem;
    }

    @media only screen and (max-width: 68.75em) {
      top: 40%;
      font-size: 2rem;
      width: 90%;
    }

    @media only screen and (max-width: 57.8125em) {
      font-size: 2.2rem;
      top: 26%;
    }

    @media only screen and (max-width: 48.125em) {
      top: 28%;
    }

    @include respond(phone) {
      position: relative;
      width: 95%;
      font-size: 2.5rem;
      padding: 5rem 2rem;
      margin: 0 auto;
    }
  }

  &__heading {
    font-size: 6.5rem;
    color: $sec;
    position: absolute;
    top: 23%;
    right: 10%;
    text-shadow: 0 1rem 1rem rgba($black, .2);

    @media only screen and (max-width: 112.5em) {
      right: 5%;
    }

    @media only screen and (max-width: 106.25em) {
      right: 0;
    }

    @media only screen and (max-width: 100em) {
      font-size: 5.5rem;
      top: 27%;
    }

    @media only screen and (max-width: 90.625em) {
      font-size: 4.5rem;
    }

    @media only screen and (max-width: 81.25em) {
      font-size: 4rem;
      top: 28%;
    }

    @media only screen and (max-width: 57.8125em) {
      font-size: 3.5rem;
      top: 18%;
    }

    @media only screen and (max-width: 53.125em) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 48.125em) {
      top: 20%;
      font-size: 2.75rem;
    }

    @include respond(phone) {
      position: relative;
      font-size: 4rem;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }
}

.section-features {
  padding: 5rem 0;

  &__paragraph {
    font-size: 3rem;
    text-align: center;
    width: 70%;
    margin: 6rem auto;

    @include respond(phone) {
      margin: 0 auto 2rem auto;
      width: 95%;
      font-size: 2.5rem;
    }
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
    margin-bottom: 5rem;
  }
}

.section-process {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto 5rem auto;

  &__step {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }

  &__step:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    height: 8.5rem;
    background-color: $main;
    color: $white;
    border-radius: 50%;
    font-size: 3.5rem;
    flex-shrink: 0;

    @include respond(phone) {
      width: 6.5rem;
      height: 6.5rem;
      font-size: 2.5rem;
    }
  }

  &__heading {
    color: $sec;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    text-shadow: 0 1rem 1rem rgba($black, .2);

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__paragraph {
    font-size: 2.5rem;
    flex-wrap: wrap;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__btn {
    &,
    &:link,
    &:visited {
      width: 30rem;
      text-decoration: none;
      display: block;
      margin: 6rem auto;
      padding: 1rem 2rem;
      background-color: $main;
      color: $white;
      font-size: 2rem;
    }
  }
}